/* For all widgets */
* {

	font: 14px Arial,sans-serif; 
}

Button {
	cursor: pointer;
}

Label {
	background-color:inherit;
}

Composite.contentContainer {
	animation:fadeIn 1000ms linear;
}
/* Start HeaderBar */
Composite.header {
	background-color:#008CBA;
}


/* Start Heading */
Composite.heading_wrap {
	background-color:inherit;
}

Label.heading {
	color:#FFFFFF;
	font: normal 24px "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

/* End Heading */


/* Start Link Container */
Composite.linkContainer {
	background-color:inherit;
}

Button.navButton {
	background-color:inherit;
	color:#FFFFFF;
	font: normal 16px "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
	border:none;
}

Button.navButton:hover {
	background-color:#006687;
}
/* End Link Container */

/* Start RPKIBrowserView */

/* Start Controlbar */
Composite.browserControlbar {
	background-color:#333333;
	padding:0px 0px;
}

ToolBar {
	background-color:inherit;
	font: normal 14px "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}
ToolItem.controlbarItem {
	cursor:pointer;
	background-color:#333333;
	color:#FFFFFF;
	border:0px;
}


ToolItem.controlbarItem:selected {
	background-color:#272727;
}

ToolItem.controlbarItem:hover {
	background-color:#272727;
}

CCombo.controlbarDropdown {
	background-color:#333333;
	color:#FFFFFF;
}
CCombo-Button.controlbarDropdown {
	background-color:#333333;
	border-left:none;
}
CCombo-List-Item {
	color:inherit;
}

Label.updateTimestamp {
	color:#FFFFFF;
}

/* End Controlbar */

/* Start Views */
/*
TreeItem:even {
	background-color:#C4E3F3;
}
*/
TreeItem {
	background-color:#FFFFFF;
}

TreeItem.filterMatch {
	background-color:#D0E9C6;
}

TreeItem:selected {
	background-color:#008CBA;
}
/*
TableItem:even {
	background-color:#C4E3F3;
}
*/
TableItem {
	background-color:#FFFFFF;
}

TableItem.filterMatch {
	background-color:#D0E9C6;
}

TableItem:selected {
	background-color:#008CBA;
}

/* Display area */


CTabFolder {
	border-color:#FFFFFF;
}
CTabItem {
	background-color:#EEEEEE;
	color:#000000;
}

CTabItem:selected {
	background-color:#FFFFFF;
	color:#000000;
}


Composite.displayWidget {
	background-color:#FFFFFF;
}

Composite.informationContainer {
	background-color:#FFFFFF;
}

Composite.displayContent {
	box-shadow:0px 5px 15px rgba(0, 0, 0, 0.5);
}

Composite.informationField {
	background-color:#FFFFFF;
	padding:0px;
}

Label.informationLabel {
	font:bold 13px Arial, sans-serif;
}

Text.informationText {
	background-color:inherit;
	padding:0px;
	font:13px Arial, sans-serif;
}

Link.informationLink {
	background-color:inherit;
	font:13px Arial, sans-serif;
}

Link.downloadLink {
	background-color:inherit;
	font:11px Arial, sans-serif;
}

TableColumn {
	background-color:#333333;
	color:white;
}

/* End Display area*/

/* Start Filter */
Shell.filterShell {
	background-color:#FAFAFA;
}
Shell-Titlebar {
	background-color:#333333;
/* 	height:30px; */
	
}

Composite.filterWidget {
	background-color:inherit;
}

Composite.filterOption {
	background-color:inherit;
}

Composite.filterHeadingHolder {
	background-color:#008CBA;
}

Label.filterHeading {
	color:#FFFFFF;
	font:bold 13px Arial, sans-serif;
}

Label.filterText {
	font:bold 13px Arial, sans-serif;
	color:#000000;
}

Button.filterButton {
	background-color:#008CBA;
	border: 1px solid black;
	color:#FFFFFF;
}

Button.filterButton:hover {
	background-color:#006687;
}

Button[RADIO]{
	font: 12px Arial, sans-serif;
	background-color:inherit;
}

/* End Filter */



ScrollBar {
	background-color:#EEEEEE;
}
ScrollBar-Thumb {
	background-color:#333333;
}



